body			{
				font-family: 'Courier New', Courier, monospace;
				}
#topmenu		{
				width:100%;
				height:auto;
				border: 0;
				position: fixed;
				background: rgba(255, 255, 255, 0.7);
				border-bottom: 1px solid darkgray;
				padding-bottom: 5px;
				}
#menutable		{
				width: 100%;
				table-layout: fixed;
				}
.menutext		{
				text-align: center;
				font-size: 22px;
				}
.dropdown		{
				position: relative;
				display: inline-block;
				}				
.ddcontent		{
				display: none;
				position: absolute;
				position: fixed;
				overflow:auto;
				background: rgba(255, 255, 255, 0.7);
				border-bottom: 1px solid darkgray;
				padding-top: 10px;
				}
.ddcontent a	{
				padding: 5px;
				display: block;
				}
.dropdown:hover .ddcontent	{
							display: block;
				 			}
a:link,
a:visited		{
				color: black;
				text-decoration: none;
				}
a:hover,
a:active		{
				color: palevioletred;
				}
.projectheader	{
				text-align: left;
				font-size: 22px;
				padding: 10px;				
				color: palevioletred;
				}
