body			{
				font-family: 'Courier New', Courier, monospace;
				}
#topmenu		{
				width:100%;
				height:auto;
				border: 0;
				position: fixed;
				border-bottom: 1px solid darkgray;
				opacity: 0.7;
				background-color: white;
				border-style: solid;
				padding: 5;
				margin: 5;
				}
#menutable		{

				width: 100%;
				}
.menutext		{
				text-align: center;
				font-size: 22px;
				font-weight: bold;
				}
a:link,
a:visited		{
				color: black;
				text-decoration: none;
				}
a:hover			{
				color: orange;
				}
