body			{
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
				'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
				sans-serif;
				background-color: rgb(250, 250, 250);
				padding: 50px 20px 50px 20px;
				}
#topmenu		{
				width:100%;
				height: calc(25px + 1vw);
				border: 0;
				position: fixed;
				top: 0px;
				left: 0px;
				padding-top: 10px;
				padding-bottom: 5px;
				background-color: rgba(255, 255, 255, 0.9);
				overflow: hidden;
				z-index: 3;
				}
#contactmenu	{
				width:100%;
				height:40px;
				border: 0;
				position: fixed;
				bottom: 0px;
				left: 0px;
				background: rgba(255, 255, 255, 0.9);
				overflow: hidden;
				z-index: 3;
				}
#contactmenu a	{
				padding: 5px 5px 0px 5px;
				float: right;
				}
#contactmenu a img	{
						height: 25px;
						width: auto;
					}
#elem			{
				float: left;
				width: 50%;
				font-size: calc(16px + 1vw);
				}
#elemlink	{
	color:black;
	text-decoration: none;
}
#elemlink:hover,
#elemlink:active	{
				transition: 0.2s;
				font-size: calc(20px + 1vw);
				color: rgb(95, 157, 199);
				}
#elemlink:link,
#elemlink:visited		{
				color: black;
				text-decoration: none;
				}
.current			{
				float: left;
				width: 50%;
				font-size: calc(18px + 1vw);
				}
.current a:link,
.current a:visited		{
				color: rgb(95, 157, 199);
				text-decoration: none;
				}
.current a:hover,
.current a:active	{
				transition: 0.2s;
				font-size: calc(20px + 1vw);
				color: rgb(95, 157, 199);
				}
.menutext		{
				text-align: center;
				}
#hive			{
				color: black;
				text-decoration: underline;
				}
.link			{
				color: black;
				text-decoration: underline;
				}
.bgphoto		{
				margin: auto;
				border-radius: 5px;
				padding: 100px 50px 90px 90px;
				box-shadow: 1px 1px 4px rgb(102, 102, 102);
				max-width: 1200px;
				background-image: url("content/mac.jpeg");
				position: relative;
				background-repeat: no-repeat;
				background-size: cover;
				animation: mac 1s ease-out forwards;
				}
.bgphoto::before	{
				content: '';
				border-radius: 5px;
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				background: rgba(37, 37, 37, 0.6);
				}
#welcome		{
				padding: 50px 30px 20px 30px;
				border-radius: 5px;
				margin: 20px auto;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				background: rgba(235, 235, 235, 0.7);
				position: relative;
				max-width: 1200px;
				}
.biggerwhite	{
				color: white;
				font-size: calc(18px + 1vw);
				position: relative;
				font-weight: normal;
				animation: name 1s forwards;
				}
.black			{
				color: black;
				font-size: calc(8px + 1vw);
				position: relative;
				font-weight: normal;
				}
.projectheader	{
				font-size: calc(18px + 1vw);
				font-weight: normal;
				text-align: center;			
				color: rgb(95, 157, 199);
				}
.project		{
				background-color: white;
				padding: 30px 30px 20px 30px;
				border-radius: 5px;
				max-width: 1200px;
				position: relative;
				display:block;
				font-size: calc(8px + 1vw);
				margin: 30px auto 0px auto;
				box-shadow: 1px 1px 4px rgb(131, 131, 131);
				}
.project video,
.project img		{
				width: 100%;
				height: auto;
				}
.myphoto		{
				margin: 0px auto 20px auto;
				padding: 10px 10px 10px 10px;
				max-width: 1200px;
				position: relative;
				overflow: auto;
				height: auto;
				}
.intro			{
				font-size: calc(20px + 1vw);
				font-weight: normal;
				text-align: center;			
				color: rgb(95, 157, 199);
				animation: name 1s forwards;
				}
.biggerabout	{
				color: black;
				font-size: calc(12px + 1vw);
				font-weight: normal;
				}
#student		{
				font-size: calc(18px + 1vw);
				font-weight: normal;
				text-align: center;			
				color: black;
				animation: name 2s forwards;
				}
#aboutme		{
				background-color: rgba(255, 255, 255, 0.7);
				padding: 20px 20px 20px 20px;
				margin-left: 20px;
				margin-bottom: 10px;
				border-radius: 5px;
				text-align: justify;
				width: 50%;
				min-width: 200px;
				float: right;
				position: relative;
				}
#me				{
				float: left;
				width: 40%;
				border-radius: 5px;
				max-width: 400px;
				animation: photo 1s ease-out forwards;
				}
#story			{
				padding: 30px 30px 20px 30px;
				border-radius: 5px;
				margin: auto;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				background: rgba(206, 206, 206, 0.7);
				max-width: 1200px;
				}
#mode	{
				width: 40px;
				height: 40px;
				cursor: pointer;
				float: left;
				border-radius: 5%;
				background: rgb(75, 75, 75);
  				background:linear-gradient(to bottom right,rgb(75, 75, 75) 50%,rgb(226, 226, 226) 50%);
				}

@keyframes photo {
				0% {opacity: 0; margin-top: -50%;}
				100% {opacity: 1; margin-top: 0;}
			}
@keyframes mac {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
@keyframes name {
				0% {opacity: 0;}
				50% {opacity: 0;}
				100% {opacity: 1;}
				}
@media only screen and (max-width: 1200px) {
	.imgdiv {
	 	max-width: 600px;
		display:flex;
	}
  }
